
body {
  color: #520909d1;
}
.hidden {
  display: none;
}
.container{
  display: flex;
  height: 50vh;
  flex-direction: column;
  padding-top: 50px;
  width: 500px;
  margin: auto;
}
.collapser{
  min-height: 200px;
}

.collapse__btn{
  background-color: lightblue;
  margin-bottom: 15px;
}
.collapse__content{
  height: 1px;
  overflow: hidden;
  transition: 0.5s;
}

.collapse__content-active{
  /* height: 100px; */
  transition: 2s;
  border: 1px solid lightblue;
  padding: 20px;
}

.chat__btn{
  position: absolute;
  right: 30px;
  bottom:  30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid red;
  background-color: red;

}

.chat__btn:hover{
  transform: scale(1.5);
  transition: 1s;
}

.chat__from{
  position: absolute;
  right: 30px;
  bottom:  30px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightblue;
  width: 200px;
  background-color: #fff;
  animation-name: show;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  
}

.chat__form-close{
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}

@keyframes hide{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} 
@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.chat__from > h2 {
  padding-left: 10px;
  font-size: 18px;
}

.chat__input{
  width: 180px;
  height: 100px;
  margin: auto;
}

.chat__send{
  margin: 10px;
  height: 20px;
}

.chat__close{
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 5px;
}
 